<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stream fragments</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: inline;
        }

        .container {
            margin: 16px auto !important;
            width: 1200px;
        }

        .video_item {
            width: 100% !important;
        }

        .spike_rate {
            margin-top: 8px;
        }

        .clipboard_container {
            width: 100%;
            height: 34px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="container ui three column grid">
    {{range $index, $element := .Fragments }}
    <div class="column">
        <div class="ui card video_item">
            <div class="image">
                <div style="width: 100%; height: 0; position: relative; padding-bottom: 56.338%;">
                    <iframe src="{{$element.Url}}"
                            frameborder="0"
                            allowfullscreen
                            webkitallowfullscreen
                            mozallowfullscreen
                            scrolling="no"
                            style="width: 100%; height: 100%; position: absolute;"
                    ></iframe>
                </div>
            </div>
            <div class="content">
                <div class="header"> {{$element.Name}}</div>

                <div class="meta spike_rate">
                    <i class="icon star"></i>
                    <span>{{printf "%.2f" $element.Rate}}</span>
                </div>

                <div class="ui action input clipboard_container">
                    <input type="text" class="clipboard_input_{{$index}}" value="{{$element.Url}}">
                    <button
                            class="ui icon button clipboard"
                            data-clipboard-target=".clipboard_input_{{$index}}">
                        <i class="copy icon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{end}}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
<script>
    $(function () {
        new Clipboard('.clipboard');
    });
</script>
</body>
</html>